<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appprestador">
    <!-- Permissions to Connection MySQL -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppPrestador">
        <activity android:name=".Employee.EditPasswordEmployee"></activity>
        <activity android:name=".Employee.EditDataContactEmployee" />
        <activity android:name=".Employee.EditDataEmployee" />
        <activity android:name=".Employee.MyDataEmployee" />
        <activity android:name=".Business.RegisterEmployee" />
        <activity android:name=".Business.DataEmployee" />
        <activity android:name=".Business.EditPasswordBusiness" />
        <activity android:name=".Business.RegisterServices" />
        <activity android:name=".Business.MyDataBusiness" />
        <activity android:name=".Business.EditDataContact" />
        <activity android:name=".Business.MyServicesBusiness" />
        <activity android:name=".Business.EditDataBusiness" />
        <activity android:name=".Business.EditAddress" />
        <activity android:name=".Employee.Requests" />
        <activity android:name=".Employee.ProfileEmployee" />
        <activity android:name=".Business.Profile" />
        <activity android:name=".Business.Employee" />
        <activity android:name=".Employee.HomeEmployee" />
        <activity android:name=".Register2" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>